In [9]:
import pandas as pd
pd.set_option('display.max_colwidth', 500)
%matplotlib inline

In [2]:
%run carrega_dados.py

In [3]:
bens.head(1)

,SQ_CANDIDATO,TIPO_BEM_CANDIDATO,DS_TIPO_BEM_CANDIDATO,VALOR_BEM
0,60000001105,"Veículo automotor terrestre: caminhão, automóv...",UMA MOTO HONDA BIZ 2005,2000.0

In [4]:
cand.head(1)

,DESCRICAO_UE,DESCRICAO_CARGO,NOME_CANDIDATO,SEQUENCIAL_CANDIDATO,DES_SITUACAO_CANDIDATURA,SIGLA_PARTIDO,DESCRICAO_OCUPACAO,IDADE_DATA_ELEICAO,DESCRICAO_SEXO,DESCRICAO_GRAU_INSTRUCAO,DESCRICAO_ESTADO_CIVIL,DESCRICAO_COR_RACA,DESCRICAO_NACIONALIDADE,NOME_MUNICIPIO_NASCIMENTO,DESPESA_MAX_CAMPANHA
0,SÃO JOÃO DO JAGUARIBE,VEREADOR,MARGARIDA MACIEL DA SILVA,60000001208,DEFERIDO,PT,AGRICULTOR,50,FEMININO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PRETA,BRASILEIRA NATA,SAO JOAO DO JAGUARIBE,-1

In [52]:
cand.columns

Index(['DESCRICAO_UE', 'DESCRICAO_CARGO', 'NOME_CANDIDATO',
       'SEQUENCIAL_CANDIDATO', 'DES_SITUACAO_CANDIDATURA', 'SIGLA_PARTIDO',
       'DESCRICAO_OCUPACAO', 'IDADE_DATA_ELEICAO', 'DESCRICAO_SEXO',
       'DESCRICAO_GRAU_INSTRUCAO', 'DESCRICAO_ESTADO_CIVIL',
       'DESCRICAO_COR_RACA', 'DESCRICAO_NACIONALIDADE',
       'NOME_MUNICIPIO_NASCIMENTO', 'DESPESA_MAX_CAMPANHA'],
      dtype='object')

# Total de bens por candidato

In [48]:
bens_total = bens.groupby(['SQ_CANDIDATO']).VALOR_BEM.aggregate(['min', 'max', 'sum'])

# Merge

In [50]:
df = pd.merge(cand, bens_total, left_on="SEQUENCIAL_CANDIDATO", right_index=True)

In [86]:
def distribuicao_por_partido(column, pct=True):
    
    _df = df.groupby(['SIGLA_PARTIDO', column]).size().unstack()
    
    if pct:
        
        _df = _df.apply(lambda row: (row / row.sum())*100, axis=1)
        
    return _df

In [91]:
def qtd_por(column):
    
    return cand[column].value_counts().sort_values(ascending=False)

## Quantidades

In [111]:
qtd_por('SIGLA_PARTIDO').head(5)

PDT     1470
PMDB    1081
PSD      961
PT       936
PR       779
Name: SIGLA_PARTIDO, dtype: int64

In [94]:
qtd_por('DESCRICAO_SEXO')

MASCULINO    10165
FEMININO      4654
Name: DESCRICAO_SEXO, dtype: int64

In [96]:
qtd_por('DESCRICAO_UE').head(3)

FORTALEZA            1130
CAUCAIA               366
JUAZEIRO DO NORTE     310
Name: DESCRICAO_UE, dtype: int64

In [99]:
qtd_por('DESCRICAO_OCUPACAO').head(6)

OUTROS                        2137
AGRICULTOR                    1704
COMERCIANTE                   1195
VEREADOR                       953
SERVIDOR PÚBLICO MUNICIPAL     899
EMPRESÁRIO                     822
Name: DESCRICAO_OCUPACAO, dtype: int64

In [106]:
qtd_por('IDADE_DATA_ELEICAO').head(5)

42    495
46    482
38    473
37    451
36    450
Name: IDADE_DATA_ELEICAO, dtype: int64

In [107]:
qtd_por('DESCRICAO_ESTADO_CIVIL')

CASADO(A)                    8135
SOLTEIRO(A)                  5494
DIVORCIADO(A)                 838
VIÚVO(A)                      264
SEPARADO(A) JUDICIALMENTE      88
Name: DESCRICAO_ESTADO_CIVIL, dtype: int64

In [108]:
qtd_por('DESCRICAO_GRAU_INSTRUCAO')

ENSINO MÉDIO COMPLETO            5948
SUPERIOR COMPLETO                3677
ENSINO FUNDAMENTAL COMPLETO      1744
ENSINO FUNDAMENTAL INCOMPLETO    1574
SUPERIOR INCOMPLETO               779
LÊ E ESCREVE                      561
ENSINO MÉDIO INCOMPLETO           536
Name: DESCRICAO_GRAU_INSTRUCAO, dtype: int64

In [109]:
qtd_por('DESCRICAO_COR_RACA')

PARDA       9264
BRANCA      4712
PRETA        721
AMARELA       80
INDÍGENA      42
Name: DESCRICAO_COR_RACA, dtype: int64

In [110]:
qtd_por('NOME_MUNICIPIO_NASCIMENTO').head(5)

FORTALEZA            1969
SOBRAL                355
ITAPIPOCA             302
JUAZEIRO DO NORTE     282
QUIXADÁ               268
Name: NOME_MUNICIPIO_NASCIMENTO, dtype: int64

## Distribuição de sexo por partido

In [76]:
distribuicao_por_partido('DESCRICAO_SEXO').head(5)

DESCRICAO_SEXO   FEMININO  MASCULINO
SIGLA_PARTIDO
DEM             21.428571  78.571429
PC do B         25.287356  74.712644
PCB             25.000000  75.000000
PDT             23.529412  76.470588
PEN             22.847682  77.152318

## Distribuição de cor por partido

In [80]:
distribuicao_por_partido('DESCRICAO_COR_RACA').head(5)

DESCRICAO_COR_RACA   AMARELA     BRANCA  INDÍGENA      PARDA      PRETA
SIGLA_PARTIDO
DEM                 0.476190  36.190476  0.476190  56.666667   6.190476
PC do B             0.229885  33.563218  1.379310  59.080460   5.747126
PCB                      NaN        NaN       NaN  50.000000  50.000000
PDT                 0.091912  34.558824  0.091912  62.316176   2.941176
PEN                 1.655629  30.463576  0.331126  63.245033   4.304636

## Distribuição de nacionalidade por partido

In [81]:
distribuicao_por_partido('DESCRICAO_NACIONALIDADE').head(5)

DESCRICAO_NACIONALIDADE  BRASILEIRA (NATURALIZADA)  BRASILEIRA NATA
SIGLA_PARTIDO
DEM                                            NaN       100.000000
PC do B                                   0.229885        99.770115
PCB                                            NaN       100.000000
PDT                                       0.367647        99.632353
PEN                                            NaN       100.000000

## Distribuição de grau de instrução por partido

In [82]:
distribuicao_por_partido('DESCRICAO_GRAU_INSTRUCAO').head(5)

DESCRICAO_GRAU_INSTRUCAO,ENSINO FUNDAMENTAL COMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO MÉDIO COMPLETO,ENSINO MÉDIO INCOMPLETO,LÊ E ESCREVE,SUPERIOR COMPLETO,SUPERIOR INCOMPLETO
SIGLA_PARTIDO,,,,,,,
DEM,8.571429,13.809524,33.809524,3.333333,2.857143,31.904762,5.714286
PC do B,10.804598,11.034483,34.482759,1.839080,3.448276,33.103448,5.287356
PCB,NaN,25.000000,25.000000,25.000000,NaN,25.000000,NaN
PDT,11.305147,10.294118,36.764706,2.389706,3.860294,30.882353,4.503676
PEN,13.245033,11.258278,44.039735,2.980132,1.655629,23.178808,3.642384

In [85]:
distribuicao_por_partido('DESCRICAO_GRAU_INSTRUCAO').sort_values('SUPERIOR COMPLETO', ascending=False).head(5)

DESCRICAO_GRAU_INSTRUCAO,ENSINO FUNDAMENTAL COMPLETO,ENSINO FUNDAMENTAL INCOMPLETO,ENSINO MÉDIO COMPLETO,ENSINO MÉDIO INCOMPLETO,LÊ E ESCREVE,SUPERIOR COMPLETO,SUPERIOR INCOMPLETO
SIGLA_PARTIDO,,,,,,,
PSTU,16.666667,NaN,16.666667,NaN,NaN,50.000000,16.666667
PSOL,6.451613,9.677419,26.612903,2.419355,NaN,46.774194,8.064516
PHS,4.458599,7.643312,35.031847,3.184713,3.821656,40.127389,5.732484
REDE,4.444444,NaN,35.555556,NaN,11.111111,37.777778,11.111111
PMB,8.247423,8.762887,39.690722,3.092784,0.515464,34.536082,5.154639