In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../dados/perfil_eleitor_secao_2016_CE.txt', 
                 encoding='iso-8859-1', sep=';', header=None)

In [6]:
df.shape

(2055768, 17)

In [7]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,19/07/2016,12:19:20,2016,CE,13005,JIJOCA DE JERICOACOARA,30,109,0,NÃO INFORMADO,10,SUPERIOR A 79 ANOS,2,LÊ E ESCREVE,4,FEMININO,1
1,19/07/2016,12:19:20,2016,CE,13005,JIJOCA DE JERICOACOARA,30,109,0,NÃO INFORMADO,7,45 A 59 ANOS,2,LÊ E ESCREVE,2,MASCULINO,2

In [8]:
df[11].value_counts()

45 A 59 ANOS          455225
35 A 44 ANOS          370957
25 A 34 ANOS          330909
60 A 69 ANOS          267111
21 A 24 ANOS          165667
70 A 79 ANOS          162947
18 A 20 ANOS          125609
SUPERIOR A 79 ANOS     98341
17 ANOS                46874
16 ANOS                31820
INVÁLIDA                 308
Name: 11, dtype: int64

In [11]:
faixa_etaria_por_municipio = df.groupby([5, 11]).size().unstack()

In [15]:
faixa_etaria_por_municipio.loc['FORTALEZA']

11
16 ANOS                 2458.0
17 ANOS                 6582.0
18 A 20 ANOS           25476.0
21 A 24 ANOS           29267.0
25 A 34 ANOS           68226.0
35 A 44 ANOS           85205.0
45 A 59 ANOS          118803.0
60 A 69 ANOS           73956.0
70 A 79 ANOS           44279.0
INVÁLIDA                  51.0
SUPERIOR A 79 ANOS     30052.0
Name: FORTALEZA, dtype: float64

In [16]:
escolaridade_por_municipio = df.groupby([5, 13]).size().unstack()

In [17]:
escolaridade_por_municipio.loc['FORTALEZA']

13
ANALFABETO                       29782.0
ENSINO FUNDAMENTAL COMPLETO      58391.0
ENSINO FUNDAMENTAL INCOMPLETO    89779.0
ENSINO MÉDIO COMPLETO            94260.0
ENSINO MÉDIO INCOMPLETO          65427.0
LÊ E ESCREVE                     59282.0
NÃO INFORMADO                     2251.0
SUPERIOR COMPLETO                47951.0
SUPERIOR INCOMPLETO              37232.0
Name: FORTALEZA, dtype: float64

In [18]:
sexo_por_municipio = df.groupby([5, 15]).size().unstack()

In [19]:
sexo_por_municipio.loc['FORTALEZA']

15
FEMININO         270265.0
MASCULINO        212038.0
NÃO INFORMADO      2052.0
Name: FORTALEZA, dtype: float64